{
  "extends": [
	"eslint:recommended",
	"plugin:import/recommended",
	"prettier"
  ],
  "env": {
	"es6": true,
	"node": true
  },
  "rules": {
	"prettier/prettier": "error"
  },
  "plugins": [
	"import",
	"node",
	"prettier"
  ],
  "settings": {
	"import/external-module-folders": [
	  ".yarn",
	  "node_modules"
	],
	"import/resolver": {
	  "typescript": {
		"alwaysTryTypes": false,
		"project": [
		  "tsconfig.json",
		  "tsconfig.test.json"
		]
	  },
	  "node": {
		"extensions": [
		  ".js",
		  ".ts"
		]
	  }
	}
  },
  "overrides": [
	{
	  "files": [
		"*.ts"
	  ],
	  "extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"prettier"
	  ],
	  "parser": "@typescript-eslint/parser",
	  "rules": {
		"@typescript-eslint/explicit-member-accessibility": [
		  "error",
		  {
			"overrides": {
			  "accessors": "no-public",
			  "constructors": "no-public",
			  "methods": "no-public",
			  "properties": "explicit",
			  "parameterProperties": "explicit"
			}
		  }
		],
		"@typescript-eslint/no-inferrable-types": [
		  "error",
		  {
			"ignoreParameters": true,
			"ignoreProperties": true
		  }
		],
		"@typescript-eslint/no-unused-vars": [
		  "error",
		  {
			"argsIgnorePattern": "^_.*$",
			"varsIgnorePattern": "^_.*$"
		  }
		],
		"import/exports-last": "error",
		"import/first": "error",
		"import/no-cycle": "error",
		"import/no-extraneous-dependencies": "error",
		"import/no-mutable-exports": "error",
		"import/no-unused-modules": "error",
		"import/no-useless-path-segments": "error",
		"import/order": [
		  "error",
		  {
			"alphabetize": {
			  "order": "asc"
			}
		  }
		],
		"no-console": "error"
	  },
	  "plugins": [
		"@typescript-eslint",
		"prettier"
	  ]
	},
	{
	  "files": [
		"scripts/*.js"
	  ],
	  "env": {
		"browser": true,
		"es6": true
	  }
	}
  ]
}
